img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
{display: none !important;
}
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     -webkit-tap-highlight-color: transparent;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
    .footer, .generic-footer {
display : none !important ;
}
@media (min-width: 374px) {
.footer, .generic-footer {
display : none !important ;
}
}
@media (min-width: 546px) {
.footer, .generic-footer {
display : none !important ;
}
}
@media (min-width: 1055px) {
.footer, .generic-footer {
display : none !important ;
}
}
.disclaimer {
display : none !important ;
}
.disclaimer a:hover {
text-decoration : underline;
}
@media (min-width: 1052px) {
}
@media (min-width: 1920px) {
.disclaimer {
display : none !important ;
}
}
